tests/
examples/
docs/.vscode/
docs/_build/
docs/_templates/
bin/
lib/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
*autogen/
Makefile
src/gui/build*
src/gui/redcraft/*.user
src/gui/redcraft/*.user.*
src/gui/rmsd/build*
src/gui/rmsd/redcraft/*.user
src/gui/rmsd/redcraft/*.user.*
.vscode/
.*/
*.out
*.angles
*.pdb
*.o
*.redcat.*
redcraft_gui
Redcraft.cbp
cmake_install.cmake
install_manifest.txt
